@charset "utf-8";
/* CSS Document */
* { box-sizing: border-box;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
float: left;
padding: 15px;
}


.row::after {
content: "";
clear: both;
display: table;
}
.container {
width:80%;
margin:0 auto
}
.text-center{
	text-align: center
}
.d-flex{
	display: flex
}
.justify-center{
	justify-content: center
}
.justify-between{
	justify-content: space-between
}
.justify-around{
	justify-content: space-around
}
.align-center{
	align-items: center
}
.img-100{
  width: 100%; height: auto;       
 
}
.slideshow-container {
  position: relative;
  width: 100%;
  height: auto;
}

.mySlides {
  display: none;
}

.img-200{
  width: 100%; height: 250px;       
  object-fit: cover;   
  border-radius: 4px;
}
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 16px; color: #666666; margin: 0
}
header{
	width: 100%; height: 60px; background-color:#E2E0E2
}

.chinh{
	width: 80%; margin: 0 auto 
}

.logo {
	float: left;
}

.menu {
	float: right;
	padding-top: 20px;
}

.menu a{
	padding: 10px 20px; text-decoration: none; color: black
}


aside{
min-height: 400px
}

main{
min-height: 400px
}

.Bentrai{
color: darkred
}

aside ul{
margin:0; padding: 0; list-style: none;
	display: flex; flex-direction: column;
}

aside ul li{
border-bottom: 1px solid gray
}

aside ul li a{
display: block; padding: 10px; text-decoration: none; color:#666666
}

aside ul li a:hover{
background-color: darkred; color:white
}

.footer{
width: 100%; min-height: 200px; background-color: antiquewhite
}


footer a:hover{
background-color: darkred; color: #D7D4D4
}

footer ul{
margin:0; padding:0; list-style: none; display: flex; flex-direction: column; 
}















